* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #0f0f0f;
	font-family: "Poppins", sans-serif;
	color: white;
	min-height: 100vh;
	min-width: 100vw;
	overflow-y: hidden;
	display: flex;
	user-select: none;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 11;
}

.container {
	display: flex;
	flex: 2;
	text-align: start;
	z-index: 12;
	flex-shrink: 0;

	&:last-of-type {
		flex: 3;
	}

	h1 {
		text-transform: uppercase;
		font-weight: 300;
		padding: 1em;
		font-size: 56px;
		width: 100%;
		white-space: nowrap;

		.text-end {
			display: block;
			text-align: end;
			width: 100%;
		}
	}

	.projects {
		font-size: 10vw;
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		overflow-x: hidden;
		overflow-y: scroll;
		scrollbar-width: none; /* Firefox */
		-ms-overflow-style: none; /* Internet Explorer 10+ */
		width: 100%;
		height: 100vh;
		padding: 0.25em;
		scroll-behavior: smooth;

		$color: rgb(200, 200, 200);

		div {
			letter-spacing: -0.75vw;
			line-height: 1.05;
			font-weight: bolder;
			transform-origin: 0 50%;
			transform: scale(75%, 75%);
			white-space: nowrap;
			transition-property: all;
			transition-duration: 200ms;
			-webkit-text-stroke-width: 2px;
			-webkit-text-stroke-color: $color;
			color: $color;
			width: fit-content;

			&:hover {
				color: transparent;
				transform: scale(100%, 100%);
			}
		}

		.active {
			color: transparent;
			transform: scale(100%, 100%);
		}
	}
}
